.main {
  background-image: url("/assets/Rectangle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  color: white;
}

.container_main{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 700px;
}

.main_btn {
  margin-top: 20px;
  margin-left: 230px;
  font-size: 25px;
  white-space:nowrap;
}


.content h2 {
  font-size: 5rem;
  margin-left: 230px;
}
.content p {
  font-size: 1rem;
  margin-left: 230px;
}
.nav_play {
  font-size: 30px;
  margin-left: 100px;
}
